.slider {
  -webkit-appearance: none;
  width: 90%;
  margin-left: 5%;
  height: 24px;
  border: 1px solid #fff9;
  border-radius: 2px;
  background: #ddd8;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}
input.done::placeholder {
  color: lightgrey;
}
input.done {
  font-size: 14px;
  width: calc(100% + 40px);
  margin: 0px -10px;
  margin-bottom: -30px;
  padding: 20px 8px;
  border-style: solid;
  border-radius: 2px;
  border: 1px solid #fff9;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
  background: #ddd8;
  outline: none;
}
input.done:focus {
  outline: none
}

.slider::-webkit-slider-thumb {
  border: 1px solid #fff9;
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  border-left: none;
  border-right: none;
  height: 24px;
  background: #003;
  cursor: pointer;
}


html, body {
  font-size: 1.0em;
  margin: 0px;
}
body {
  font-family: monospace;
}
* {
  color: white;
  font-weight: normal;
  box-sizing: border-box;
}
.container {
  padding: 40px;
  color: white;
  height: 100%;
  width: 100%;
  font-family: monospace;
  background: #8ab;
}
.flexer {
  display: flex;
  flex-wrap: wrap;
}

.screen {
  border-radius: 4px;
  padding: 10px 20px;
  position: relative;
  margin: 0px;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(#c88, #003);
  transform-origin: top left;
  color: black;
  box-shadow: 16px 16px 10px rgba(0,0,0,0.5);
}
.flex-layer {
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  top: 0px;
  left: 0px;
  pointer-events: none;
  height: 100%;
  width: 100%;
  position: absolute;
  justify-content: flex-end;
}
.test {
  width: 200px;
  height: 200px;
  background: red;
}
.drag {
  position: absolute;
}
.start-stop {

}
.flex-layer {
  padding: 30px 10px;
  display: flex;
  flex-direction: column;
  top: 0px;
  left: 0px;
  pointer-events: none;
  height: 100%;
  width: 100%;
  position: absolute;
  justify-content: flex-end;
}
.flex-layer * {
  pointer-events: initial;
}
.flex-layer.kb-droid {
  padding-bottom: 130px;
}
.rows {
  display: flex;
  align-items: center;
}
.rows * {
  width: 100%;
  text-align: center;
}
.rows.wide *:last-child {
  text-align: right;
}
.rows.wide *:first-child {
  text-align: left;
}
.kb-droid {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: url(/img/kb-droid.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
  z-index: 0;
}

.center { text-align: center; }
br { line-height: 8px; }
h5, h4,h3,h2,h1 { margin: 4px;}
p { margin: 6px; }
// p { font-size: 9px; margin: 6px;}
.s {font-size: 11px; }
br.dx { line-height: 2em; }