.goal-selector-component {
  .goal-button {
    cursor: pointer;
    user-select: none;
    transition: transform 100ms;
  }
  .goal-button:hover:not(.inactive) {
    transform: scale(1.1,1.1); 
  }
  .goal-button.active {
    background: black !important;
  }
  .goal-button.inactive {
    background: grey !important;
  }
}